* {
    font-family: 'Calibri', sans-serif;
    font-style: bold;
    margin:0;
}


body {
    height:100vh;
}



/* .bg00 {
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 120%;

} */

.bg01 {
    background: url(../images/01.png) no-repeat center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-primary{
    color: #003A70 !important;
}

.bg-delta-red {
    background-color:#c01933;
}

/* .selected {
    border: 5px solid darkblue;
} */

.selected {
    border: 2px solid white!important;
    background-color: #799fca!important;
    color: white !important;
}

.bg-dark-red{
    background-color: #c01933;
}

.btn:hover{
    background-color: #9f1429;
}


.fly_box {
    position:relative;
}

.fly_button{
    top: 53.5%;
    /* margin-left: 20px; */
    bottom: 0;
    letter-spacing: 4px;
    text-shadow: 1px 0px 4px yellow;
    cursor:default!important;
}

.fly_button_start{
    position:absolute;
    bottom: 0;
    letter-spacing: 4px;
    text-shadow: 1px 2px 4px yellow;
    cursor:default!important;
}


.force_top{
    margin-top: 53.5% !important;

}
input::placeholder{
    font-weight: 900;
}
.text-box{
    height:auto;
    background-color: #fff;
}
.text-box-won{
    height:fit-content;
    background-color: #fff;
}

@media (max-width: 600px) {

    .w-75,
    .w-50 {
        width: 100% !important;
    }

    h3 {
        font-size:1.2rem;
    }

    .btn-delta {
        width:100%;
    }

   /* .bg01 {
        background-size: cover;
    }

    .bg00 {
        background-size: cover;
    }*/

}

@media screen and (min-width: 601px) {

    .fixed {
        position: fixed;
        bottom: 0;
        margin-bottom: 50px;
        width: 100%; 
        background-color: #f8f9fa; 
        padding: 20px 0;
    }
}


.form-delta::placeholder {
    color: #003A70; 
    font-weight:400;

}

input.form-delta {
    color: #003A70 !important;
    background-color: #f9f9f9 !important;
    font-weight: bold !important;
}

.btn-delta {
    font-size:1.5rem;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-LightItalic.eot');
    src: local('Calibri Light Italic'), local('Calibri-LightItalic'),
        url('Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Calibri-LightItalic.woff2') format('woff2'),
        url('Calibri-LightItalic.woff') format('woff'),
        url('Calibri-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Italic.eot');
    src: local('Calibri Italic'), local('Calibri-Italic'),
        url('Calibri-Italic.eot?#iefix') format('embedded-opentype'),
        url('Calibri-Italic.woff2') format('woff2'),
        url('Calibri-Italic.woff') format('woff'),
        url('Calibri-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Light.eot');
    src: local('Calibri Light'), local('Calibri-Light'),
        url('Calibri-Light.eot?#iefix') format('embedded-opentype'),
        url('Calibri-Light.woff2') format('woff2'),
        url('Calibri-Light.woff') format('woff'),
        url('Calibri-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Bold.eot');
    src: local('Calibri Bold'), local('Calibri-Bold'),
        url('Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('Calibri-Bold.woff2') format('woff2'),
        url('Calibri-Bold.woff') format('woff'),
        url('Calibri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri.eot');
    src: local('Calibri'),
        url('Calibri.eot?#iefix') format('embedded-opentype'),
        url('Calibri.woff2') format('woff2'),
        url('Calibri.woff') format('woff'),
        url('Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-BoldItalic.eot');
    src: local('Calibri Bold Italic'), local('Calibri-BoldItalic'),
        url('Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Calibri-BoldItalic.woff2') format('woff2'),
        url('Calibri-BoldItalic.woff') format('woff'),
        url('Calibri-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

