// @import url(https://db.onlinewebfonts.com/c/62b7ed79de33fd64c1c321a150243237?family=Whitney-Bold);
  
//   @font-face {
//     font-family: "Poppins", sans-serif;
//     src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//   }


@font-face {
    font-family: "WhitneyCondensed-Book";
    src: url("https://db.onlinewebfonts.com/t/05006d74726abc0e5a2260842f394428.eot");
    src: url("https://db.onlinewebfonts.com/t/05006d74726abc0e5a2260842f394428.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/05006d74726abc0e5a2260842f394428.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/05006d74726abc0e5a2260842f394428.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/05006d74726abc0e5a2260842f394428.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/05006d74726abc0e5a2260842f394428.svg#WhitneyCondensed-Book")format("svg");
}

@font-face {
    font-family: "Whitney-Bold";
    src: url("https://db.onlinewebfonts.com/t/62b7ed79de33fd64c1c321a150243237.eot");
    src: url("https://db.onlinewebfonts.com/t/62b7ed79de33fd64c1c321a150243237.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/62b7ed79de33fd64c1c321a150243237.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/62b7ed79de33fd64c1c321a150243237.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/62b7ed79de33fd64c1c321a150243237.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/62b7ed79de33fd64c1c321a150243237.svg#Whitney-Bold")format("svg");
}

@font-face {
    font-family: "Whitney-SemiboldSC";
    src: url("https://db.onlinewebfonts.com/t/79bd8592107b290965917e84fb4574bb.eot");
    src: url("https://db.onlinewebfonts.com/t/79bd8592107b290965917e84fb4574bb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/79bd8592107b290965917e84fb4574bb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/79bd8592107b290965917e84fb4574bb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/79bd8592107b290965917e84fb4574bb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/79bd8592107b290965917e84fb4574bb.svg#Whitney-SemiboldSC")format("svg");
}

@font-face {
    font-family:'WhitneyCond-Semibold';
    src: url("../fonts/WhitneyCond-Semibold.otf");
}
