@import "~bootstrap/scss/bootstrap";
@import "_font.scss";
//@import "../fonts/WhitneyCond-Semibold.otf";

* {
    font-family: 'Calibri', sans-serif;
    font-style: bold;
    margin: 0;
    box-sizing: border-box;
}


body {
    // background: url('../images/Welcome-Screen_Background-Plane_1920x1080_FINAL-new-bg.png') no-repeat center;
    background-color: transparent!important;
    display: flex;
    flex-direction: column;
    height:100vh;
}


html.intro {
    /* L'image est positionnée en fond et est centrée */
    background: url('../images/Welcome-Screen_Background-Plane_1920x1080_FINAL-new-bg.png') no-repeat center center fixed;
    /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

html.quiz {
    /* L'image est positionnée en fond et est centrée */
    background: url('../images/Quiz-Screen_Background-Plane_1920x1080_FINAL.png') no-repeat center center fixed;
    /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    


h3 {
    letter-spacing:-1px;
    // font-size:3rem;
    font-size:2.4rem;
    text-transform: uppercase;
    font-family: 'WhitneyCond-Semibold';
    font-weight:500;
    letter-spacing:0.8px;
}


.sub-header.quiz, .sub-header {
    font-family: 'WhitneyCond-Semibold';
    font-size:1.5rem;
    line-height: normal;
    text-align: center;
}


.gif-box {
    background: url('../images/DL-Stickers_FINAL.gif') no-repeat center;
    background-size: contain;
    min-height: 200px;
}

.first {
    background-color: transparent;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .bg01 {
//     background: url('../images/Welcome-Screen_Background-Plane_1920x1080_FINAL-new-bg.png') no-repeat center;
//     background-size: cover; 
//     background-position: center; 
//     min-height: 100vh; 
// }

.bg-blue-delta {
    background-color: #013366;
}

.text-primary {
    color: #003a70 !important;
}

.bg-delta-red {
    background-color: #c01933;
}

.selected {
    border: 2px solid white !important;
    background-color: #bcd9fb !important;
    color: #003a70 !important;
}

.bg-dark-red {
    background-color: #c01933;
}


button {
    cursor: pointer,!important;
}

.languagewrapper {
    margin: 0 auto;
    width: 100%;
}

.languagemenu {
    display: table;
    margin: 0 auto;
}

.languagemenu a {
    float: none;
    display: table;
    padding: 0.5em;
    text-decoration: none;
}

.languagemenu img {
    display: inline;
    vertical-align: middle;
}

.languagemenu .languagetext {
    display: none !important;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.flag {
    width: 30px;
}

.flag_link {
    color: #000000;
    text-decoration: none;
}

.fly_button {
    top: 53.5%;
    /* margin-left: 20px; */
    bottom: 0;
    letter-spacing: 4px;
    text-shadow: 1px 0px 4px yellow;
    // cursor: default !important;
}

.fly_button_start {
    position: absolute;
    bottom: 0;
    letter-spacing: 4px;
    text-shadow: 1px 2px 4px yellow;
    // cursor: default !important;
}

.force_top {
    margin-top: 53.5% !important;
}

input::placeholder {
    font-weight: 900;
}

.text-box {
    min-height: 400px;
    background-color: #fff;
    border-radius: 2rem;
}

.text-box-won {
    min-height: 70%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-around;
}



.form-delta::placeholder {
    color: #003a70;
    font-weight: 400;
}

input.form-delta {
    color: #003a70 !important;
    background-color: #f9f9f9 !important;
    font-weight: bold !important;
    border-radius: 0.9rem;
    height: 4rem;
}

.btn-delta {
    font-size: 1.3rem;
    cursor:pointer!important;
    text-transform: uppercase;
    font-family: 'WhitneyCond-Semibold';
    background-color:#c01933;
    border:2px solid white;
    color:white;
    // font-weight: bold;
    border-radius:2rem;
    padding:0.5rem 3rem;
    // max-height:50px!important;
    text-decoration: none;
    min-width:300px;
    text-align: center;
}

.btn-delta:hover {
    background-color: #9f1429;
    cursor: pointer,!important;
}

.btn-delta:active {
    background-color: #9f1429!important;
    cursor: pointer,!important;
}


.choice {
    cursor:pointer!important;
}

// .answerChoice {
//     font-size:1.4rem;
// }


footer {
    justify-content: flex-end;
    padding-right:3rem;
}

.logo-footer {
    background:url(../images/new-logo-delta.png) no-repeat center;
    background-size: contain;
    height:50px;
}

.langage {
    color: black;
    width: 200px;
}

.select_wrap {
    /* position:absolute; */
    right: 15px;
    bottom: 15px;
    display: inline-block;
    width: 150px;
    /* height:35px; */
    background: url('http://www.foxrep.com/wp-content/uploads/2017/11/Down-Arrow-PNG.png') no-repeat right 10px center #ffffff;
    background-size: 20px auto;
    border: 1px solid white;
}

.select_wrap span {
    display: block;
    line-height: 35px;
    padding: 0 10px;
    cursor: pointer;
}

.select_wrap ul {
    display: none;
    position: absolute;
    top: 36px;
    width: 150px;
    list-style-type: none;
    background: #ffffff;
    margin: 0;
    padding: 10px 0;
}

.select_wrap ul li {
    padding: 5px 10px;
    cursor: pointer;
}

.select_wrap span img,
.select_wrap ul li img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
}

.select_wrap ul li:hover {
    background-color: #acd4f7;
}

.custom-answer input[type="radio"] {
    display:none;
}

.custom-answer {
    // padding:1.2rem!important;
    border: 2px solid #dee7f3!important;
}

.custom-answer:hover {
    background-color: #bcd9fb!important;
    // border:2px solid white!important;
}

.pointer {
    cursor: pointer !important;
    z-index: 101;
}

span.question {
    text-transform: uppercase;
    font-family: 'WhitneyCond-Semibold';
    font-size:1.3rem;
}

.dropdown.show {
    background-color: white;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0px;
    z-index:101;
}

.dropdown.show a{
    color:#000000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-langage {
    width:100%;
}

a.btn-langage  {
    padding: 3px 15px!important;
    text-align: left!important;
}

.questionContent {
    line-height:normal;
    font-size:1.3rem;
}

.dropdown-menu.ddContent {
    display: block;
    width: 100px;
    border: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    --bs-dropdown-min-width: none!important;
    position:absolute;
    top:45px;
}

.dropdown-menu.ddContent.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

// .dropdown-menu.show {
//     /* When the 'show' class is added, reveal the dropdown menu */
//     opacity: 1;
// }

.flag-img {
    width: 30px; 
    height: auto; 
    margin-right: 0.3rem;

}

// .wrap {
//     height:80vh;
// }

@media screen and (max-width: 768px) {

    .text-box {
        min-height: 220px;
    }

    .container {
        padding: 0 20px;
    }

    .first {
        background-color: transparent;
        height: 150px!important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span.question {
        font-size: 1rem;
    }

    footer {
        padding: 0rem 0.5rem;
    }

    // .logo-footer {
    //     background:url(../images/logo-BLC.png) no-repeat center;
    //     background-size: cover;
    //     height:30px;
    // }

    .btn.btn-delta{
        width: 100%!important;
    }

    .wrap {
        height:100vh;
    }

    h3 {
        font-size:2rem;
    }

    h3.correctAnswers {
        text-align:center;
    }

    // .sub-header.quiz, .sub-header {
    //     text-align: center;
    // }

}


