<h1> {{ email.toName }}Merci pour votre participation {{ username }} !</h1>

<p>
Vous avez participé à notre jeu concours avec cet email:
    {{ email.to[0].address }}
</p>
Vous reverez vos Fun Stickers d’ici quelques semaines.
Veuillez prévoir 4 à 8 semaines.
<p>
Rendez-vous sur <a href="https://fr.delta.com/fr/fr">Delta.com</a> pour continuer de voyager !
</p>